.contentBlock {
    width: 100%;
    height: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    grid-gap: 80px;
    padding-top: 100px;
}

.obzac {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    grid-gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.obzacText {
    font-size: 26px;
    color: rgb(219, 219, 219);
    text-align: left;
}

.images {
    height: 60px;
    width: 60px;
    margin-top: -15px;
}

.contentImgBlock {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.b5 {
    width: 50%;
}

.greenContent {
    color: white;
    font-size: 28px;
    padding: 0 0 0 10px;
    display: inline;
}


@media (max-width: 768px) {


    .obzac {
        width: 100%;
        height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        grid-gap: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .obzacText {
        font-size: 18px;
        color: rgb(219, 219, 219);
        text-align: left;
    }

    .greenContent {
        font-size: 20px;
    }
    
    .images {
        height: 30px;
        width: 30px;
        margin-top: -5px;
    }

    .b5 {
        width: 100%;
    }
}