*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #589943;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Убедитесь, что заголовок находится поверх других элементов */
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4); /* Добавьте тень для визуального отделения */
}

.headerContent {
    width: 100%;
    max-width: 1940px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoBlock {
    width: auto;
    height: 150px;

    img {
        height: 150px;
    }
}

.headerMenu {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 50px;
    list-style-type: none;
    padding-right: 40px;
}

.menuImages {
    height: 90px;
    cursor: pointer;
}


::-webkit-scrollbar {
    width: 17px; /* Ширина скроллбара */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Цвет фона трека */
}

::-webkit-scrollbar-thumb {
    background: #1b872b; /* Цвет ползунка */
    border-radius: 6px; /* Закругление углов ползунка */
}

::-webkit-scrollbar-thumb:hover {
    background: #0d4d17; /* Цвет ползунка при наведении */
}

@media (max-width: 768px) {


    .headerMenu {
        display: none;
    }

    .logoBlock {
        width: 100%;
        height: 150px;
    }
}